name: "Chromatic"

on:
  push:
    branches:
      - master
    paths:
      - "packages/lib/**"
  pull_request:
    paths:
      - "packages/lib/**"

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm install

      - name: Install Node.js 22.x
        uses: actions/setup-node@v1
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org/

      - name: Publish to Chromatic
        id: chromatic_publish
        uses: chromaui/action@v1
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          exitOnceUploaded: true
          exitZeroOnChanges: true
          workingDir: packages/lib
          forceRebuild: true

      - name: Run Storybook Tests
        run: |
          cd packages/lib
          npx playwright install --with-deps
          npm run storybook:accessibility
        env:
          TARGET_URL: "${{ steps.chromatic_publish.outputs.storybookUrl }}"
