name: Publish Website

on:
  push:
    branches:
      - master
    paths:
      - "apps/website/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_SANDBOX }}
          role-duration-seconds: 3600
          role-skip-session-tagging: true

      - name: Install website dependencies
        run: cd apps/website && npm i

      - name: Build library
        run: cd apps/website && SITE_VERSION=next npm run build

      - name: Move website to S3
        run: |
          aws s3 rm s3://design-system-react-cdk-site/halstack/next/ --recursive
          aws s3 cp ./apps/website/out/ s3://design-system-react-cdk-site/halstack/next/ --recursive
