name: Publish Website

on:
  push:
    branches:
      - aef-actions
    paths:
      - "*/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
          registry-url: https://registry.npmjs.org/

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
          role-to-assume: 'role: arn:aws:iam::665158502186:role/Terraform-Ghopportal'
          role-duration-seconds: 3600
          role-skip-session-tagging: true

      - name: Install website dependencies
        run: cd website && yarn

      - name: Build library
        run: cd website && SITE_VERSION=next yarn build

      - name: Move website to S3
        run: |
          aws s3 rm s3://design-system-react-cdk-site/halstack/next/ --recursive
          aws s3 cp ./website/out/ s3://design-system-react-cdk-site/halstack/next/ --recursive
