name: Publish Next Version

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install Node.js 10.x
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
        registry-url: https://registry.npmjs.org/
      
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-west-2
        role-to-assume: ${{ secrets.AWS_ROLE_SANDBOX }}
        role-duration-seconds: 3600
        role-skip-session-tagging: true
    
    - name: Install common dependencies
      run: npm install

    - name: Install app dependencies
      run: cd app && npm install
    
    - name: Install lib dependencies
      run: cd lib && npm install

    - name: Install docs dependencies
      run: cd docs && npm install
    
    - name: Build library
      run: cd lib && npm run build
    
    - name: Test library
      run: cd lib && npm run test

    - name: Build docs
      run: cd docs && npm run build
      
    - name: 'Get Latest tag'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@master"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    - name: Publish NEXT version to npm
      run: |
        sed -i "s#\"version\": \"0.0.0\"#\"version\": \"$${{ steps.previoustag.outputs.tag }}-${GITHUB_SHA:0:7}\"#" ./lib/package.json
        cd lib
        npm publish --tag next --access public
      env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          
    - name: Move NEXT docs to S3
      run: |
        aws s3 rm s3://design-system-react-cdk-site/tools/react/next/ --recursive
        aws s3 cp ./docs/build/ s3://design-system-react-cdk-site/tools/react/next/ --recursive
