name: Publish Next Version

on:
  push:
    branches:
      - master
    paths:
      - "packages/lib/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js 22.x
        uses: actions/setup-node@v1
        with:
          node-version: 22.x
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: npm install

      - name: Build library and website
        env:
          NEXT_PUBLIC_SITE_VERSION: next
        run: npm run build

      - name: Test library
        run: npm run test

      - name: Test library accessibility
        run: npm run test:accessibility

      - name: Publish NEXT version to npm
        run: |
          sed -i "s#\"version\": \".*\"#\"version\": \"$(jq -r .version ./packages/lib/package.json)-${GITHUB_SHA:0:7}\"#" ./packages/lib/package.json
          cd packages/lib
          npm publish --tag next --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
